.messages-holder {
  display: flex;
  flex-direction: row;
}

.card-messages-nav {
  background-color: var(--white-color);
  width: 15rem;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  border-right: 1px solid var(--border-color);
}

.card-messages-list {
  background-color: var(--white-color);
  width: 100%;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  /* width: 10rem; */
}

.new-message-card {
  height: 600px;
  padding: 20px 10px 20px 10px;
}

.compose-message {
  background-color: var(--green-color);
  border-radius: 5px;
  padding: 7px 0px 7px 0px;
  margin-top: 10px;
  cursor: pointer;
}

.messages-nav {
  color: var(--nav-item-color);
  text-align: left;
  margin: 15px 0px 0px 5px;
  position: static;
}

.messages-nav:hover {
  color: var(--green-color);
  cursor: pointer;
}

.messages-nav-text {
  position: relative;
  top: 2.5px;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  color: var(--text-black-color);
}

.company-radio-checkbox {
  background-color: var(--main-background-color);
  margin: 30px 10px 10px 0px;
  color: var(--table-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.single-radio-checkbox {
  background-color: var(--main-background-color);
  margin: 30px 10px 10px 0px;
  color: var(--table-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.new-message{
  font-weight: bold;
  color: var(--table-color);
}

.alert-warning-message-section{
  background-color: var(--locked-color);
  color: var(--white-color);
  border-radius: 15px;
  padding: 0px 15px 0px 15px;
}

.recepients-number-list{
  background-color: var(--main-background-color);
  color: var(--text-grey-light);
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.clear-numbers{
  background-color: var(--locked-color);
  width: 50px;
  height: 40px;
  border-radius: 40px;
  color: var(--white-color);
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.send-message{
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.discard-message{
  background-color: var(--white-color);
  color: var(--table-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.save-draft{
  background-color: var(--white-color);
  color: var(--green-color);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}
