.icon{
    margin-right: 20px;
}

.signin-form{
    margin-top: 100px;
}

.input-group-password{
    position: relative;
}

.fieldset-password{
    width: 100%;
}

.input-group-addon-password-show-hide{
    position: absolute;
    right: 5%;
    top: 25%;
    
}
