.card-profile {
  height: var(--header-height);
  position: absolute;
  top: calc(var(--header-height));
  right: -18rem;
  margin: 0 1rem;
  transition: 0.8s;
}

.card-profile-removed {
  position: absolute;
  right: 0;
  top: calc(var(--header-height));
  margin: 0 1rem;
  transition: 0.8s;
}

.header-icons {
  height: var(--header-height);
  position: absolute;
  top: 30%;
  bottom: 50%;
  cursor: pointer;
  right: var(--header-height);
  padding: 0 1rem;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  box-shadow: 0.15 0.15rem 0.15rem 0.15rem;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 1rem;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.header-link {
  cursor: pointer;
}

.top-bar-search {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .card-profile {
    position: absolute;
    right: -18rem;
    margin: 0 1rem;
    transition: 0.8s;
  }

  .card-profile-removed {
    position: absolute;
    right: 0;
    top: calc(var(--header-height));
    margin: 0 1rem;
    transition: 0.8s;
  }

  .header-icons {
    position: absolute;
    height: var(--header-height);
    margin-right: 50px;
    padding-right: 0;
    top: 30%;
    bottom: 50%;
    justify-content: end;
  }

  .header_img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .header_img img {
    width: 45px;
    cursor: pointer;
  }

  .header {
    height: calc(var(--header-height));
    padding: 0 2rem 0 0;
    border: 0px 0px 2px 0px solid #dee2e6 !important;
  }
}
