.nav-link-item-shorten {
  display: none;
  visibility: hidden;
  font-size: smaller;
}

.nav-link-item {
  display: block;
  max-height: 799px;
  white-space: normal;
  visibility: visible;
  color: #8391a2;
  transition: opacity 0.5s, margin-top 0.5s, margin-bottom 0.5s;
  -webkit-transition: opacity 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

.nav-link-item:hover {
  display: block;
  visibility: visible;
  height: auto;
  transition: 0.5s;
  margin: 0px;
  padding: 0; /* to make the div center align to the browser */
}

.active {
  color: var(--green-color);
}

.nav_list {
  margin-top: 20px;
}

.active a {
  color: var(--green-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2.5px;
  height: 32px;
  background-color: var(--green-color);
}

.sub-link-arrow {
  /* color: var(--white-color); */
}

.sub-link-name {
  margin-left: 10px;
  /* color: var(--white-color); */
}

.active-sublink .sub-link-arrow .sub-link-name {
  color: var(--green-color);
}

.active-sublink-name {
  color: var(--white-color);
}

.navs {
  width: 250px;
  height: 150px;
  background: #eee;
  padding: 15px;
  margin-top: 15px;
}

.navs.show {
  background: red;
  color: white;
}

.nav_name {
  font-weight: bold;
  font-size: small;
}
