.nav-link-item-shorten {
  display: none;
  visibility: hidden;
  font-size: smaller;
}

.nav-link-item {
  display: block;
  max-height: 799px;
  white-space: normal;
  visibility: visible;
  color: #8391a2;
  transition: opacity 0.5s, margin-top 0.5s, margin-bottom 0.5s;
  -webkit-transition: opacity 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

.nav-link-item:hover {
  display: block;
  visibility: visible;
  height: auto;
  transition: 0.5s;
  margin: 0px;
  padding: 0; /* to make the div center align to the browser */
}

.active {
  background-color: var(--yellow-shade);
  color: var(--green-color);
  border-radius: 0px 10px 10px 0px;
}

.nav_list {
  margin-top: 20px;
  height: 500px;
  overflow-y:auto
}

.active a {
  color: var(--green-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2.5px;
  height: 40px;
  background-color: var(--green-color);
}

.sub-link-name:hover {
  color: var(--green-color);
}

.sub-link {
  color: var(--nav-item-color);
}

.sub-link-name {
  margin-left: 65px;
  font-weight: 600;
}

.navs.show {
  background: red;
  color: white;
}

.nav_name {
  font-size: 14px;
  font-weight: bold;
}

.card-sidebar-tooltip{
  background-color: var(--white-color);
  padding: 5px;
}

.nav_carret{
  -ms-transform:rotate(90deg);     /* Internet Explorer 9 */
  -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
  transform:rotate(90deg);  
}



/* .side-bar-icon{
  width: 20px;
  height: 20px;
} */


